*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.541327);
}

* {
  list-style-type: none;
  text-decoration: none;
}

body {
  min-width: 1050px;
}

.menu {
  margin-top: 30px;
}

.menu h1 {
  font-size: 26px;
  color: black;
}

.menu h1 i {
  margin: 0 20px;
}

.wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.pallete,
.colors {
  border-left: 1px solid red;
  border-top: 1px solid red;
  box-shadow: 10px 5px 5px red;
  margin-left: 40px;
  width: 228px;
  height: 246px;
}

.colors {
  margin-top: 100px;
}

.canvas {
  border: 1px solid red;
  width: 725px;
  /* width: 100%; */
  margin-left: 50px;
  height: 731px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.block {
  border: 1px solid blue;
  position: relative;
  width: 220px;
  height: 220px;
  margin: 1px 1px;
  background-color: grey;
  /* display: inline-block; */
  float: left;
  z-index: 10;
}

.pallete li,
.colors li {
  margin: 20px 20px;
}

.pallete li:first-child,
.colors li:first-child {
  margin-top: 50px;
}

.pallete li i,
.colors li i {
  margin-right: 6px;
}

li:hover {
  background-color: lavender;
}

.pallete li:hover,
.colors li:hover {
  cursor: pointer;
}

.circle {
  width: 13px;
  height: 13px;
  border: 1px solid black;
  border-radius: 13px;
  display: inline-block;
  margin-right: 5px;
}

.curr-color {
  background-color: #00ff37;
}

.prev-color {
  background-color: green;
}

.red-color {
  background-color: red;
}

.blue-color {
  background-color: blue;
}

.transform-to-circle {
  border-radius: 999px;
}