*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  list-style-type: none;
  /* text-decoration: none; */
}

body {
  min-width: 1050px;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.541327);
}

.menu {
  margin-top: 30px;
}

.menu h1 {
  font-size: 26px;
  color: black;
}

.menu h1 i {
  margin: 0 20px;
}

.wrapper {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.pallete,
.colors {
  border-left: 1px solid red;
  border-top: 1px solid red;
  box-shadow: 10px 5px 5px red;
  margin-left: 40px;
  width: 228px;
  height: 246px;
}

.icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  margin-right: 5px;
}

.fill-drip {
  background: url(../asserts/images/fill-drip-solid.png) no-repeat center/90%
}

.eye-dropper {
  background: url(../asserts/images/eye-dropper-solid.png) no-repeat center/90%
}

.expand-arrows {
  background: url(../asserts/images/expand-arrows-alt-solid.png) no-repeat center/90%
}

.exchange {
  background: url(../asserts/images/exchange-alt-solid.png) no-repeat center/90%
}


.colors {
  margin-top: 100px;
}

.canvas {
  width: 725px;
  margin-right: 50px;
  height: 650px;
}

.figure {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: grey;
  z-index: 1;
}

.block1 {
  top: 70px;
  left: 790px;
}

.block2 {
  top: 70px;
  right: 310px;
}

.block3 {
  top: 70px;
  right: 80px;
}

.block4 {
  top: 285px;
  right: 545px;
}

.block5 {
  top: 285px;
  right: 310px;
}

.block6 {
  top: 285px;
  right: 80px;
}

.block7 {
  top: 500px;
  right: 545px;
}

.block8 {
  top: 500px;
  right: 310px;
}

.block9 {
  top: 500px;
  right: 80px;
}

.pallete li,
.colors li {
  margin: 20px 20px;
  /* для выравнивания по вертикали */
  display: flex;
}

.pallete li:first-child,
.colors li:first-child {
  margin-top: 50px;
}

.panel li:hover,
.panel li:focus {
  background-color: lavender;
  outline: none;
  /* убрать рамку */
  cursor: pointer;
}


.circle {
  width: 13px;
  height: 13px;
  border: 1px solid black;
  border-radius: 13px;
  display: inline-block;
  margin-right: 5px;
}

.curr-color {
  background-color: grey;
}

.prev-color {
  background-color: green;
}

.red-color {
  background-color: red;
}

.blue-color {
  background-color: blue;
}

.transform-to-circle {
  border-radius: 999px;
}

.active {
  background-color: lavender;
}